@page
@model ChangePasswordModel
<form method="post">
    <label>Old <input type="password" asp-for="OldPassword"/></label><br/>
    <label>New <input type="password" asp-for="NewPassword"/></label><br/>
    <label>Repeat <input type="password" asp-for="Repeat"/></label><br/>
    <button>Change</button>
</form>
