@page
@model LoginModel
<form method="post">
    <label>E-Mail <input name="Email" asp-for="Email" /></label><br/>
    <label>Passwort <input type="password" name="Password" asp-for="Password" /></label><br/>
    <button type="submit">Login</button>
</form>
